/.vs
/.vscode
/.vsconfig
/66.apk
/666.apk
/6667.apk
/app.config
/Assembly-CSharp-Editor.csproj
/Assembly-CSharp.csproj
/Assembly-CSharp.Player.csproj
/Library
/Logs
/obj
/Packages
/packages.config
/ProjectSettings
/Temp
/tuetlebot.sln
/Unity.CollabProxy.Editor.csproj
/Unity.InternalAPIEditorBridge.005.csproj
/Unity.PlasticSCM.Editor.csproj
/Unity.Rider.Editor.csproj
/Unity.Services.Core.Editor.csproj
/Unity.Subsystem.Registration.csproj
/Unity.Subsystem.Registration.Player.csproj
/Unity.TextMeshPro.csproj
/Unity.TextMeshPro.Editor.csproj
/Unity.TextMeshPro.Player.csproj
/Unity.Timeline.csproj
/Unity.Timeline.Editor.csproj
/Unity.Timeline.Player.csproj
/Unity.VisualStudio.Editor.csproj
/Unity.VSCode.Editor.csproj
/Unity.XR.ARCore.csproj
/Unity.XR.ARCore.Editor.csproj
/Unity.XR.ARCore.Player.csproj
/Unity.XR.ARFoundation.csproj
/Unity.XR.ARFoundation.Editor.csproj
/Unity.XR.ARFoundation.Player.csproj
/Unity.XR.ARSubsystems.csproj
/Unity.XR.ARSubsystems.Editor.csproj
/Unity.XR.ARSubsystems.Player.csproj
/Unity.XR.Management.csproj
/Unity.XR.Management.Editor.csproj
/Unity.XR.Management.Player.csproj
/UnityEditor.SpatialTracking.csproj
/UnityEditor.TestRunner.csproj
/UnityEditor.UI.csproj
/UnityEditor.XR.LegacyInputHelpers.csproj
/UnityEngine.SpatialTracking.csproj
/UnityEngine.SpatialTracking.Player.csproj
/UnityEngine.TestRunner.csproj
/UnityEngine.TestRunner.Player.csproj
/UnityEngine.UI.csproj
/UnityEngine.UI.Player.csproj
/UnityEngine.XR.LegacyInputHelpers.csproj
/UnityEngine.XR.LegacyInputHelpers.Player.csproj
/UserSettings